.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 300px;
    margin-top: -50px;
  }
 
  .outer-box h1 {
    text-align: center;
    color: rgba(255,255,255, .7);
    font-weight: 600;
    font-size: 18px;
  }
  
  .outer-box {
    max-width: 600px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255,255,255, .2);
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 10px;
    width: 500px;
    height: auto;
  }
  
  .form-box {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255, .7);

  }
  
  .form-box h2 {
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-top:15px;
  }
  
  .form-group label {
    width: 150px;
    margin-right: 15px;
  }
  
  .form-group input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: white;
  }
  
  .sbtbtn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid rgba(255,255,255, .7);
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sbtbtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .input-field {
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);

  }
  