/* productDetails.css */
.details-table {
  width: 400px; /* Adjust width as needed */
  border-collapse: collapse;
}

.details-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* .details-table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.details-table tr:hover {
  background-color: #ddd;
}

.product-details-container {
  padding: 20px;
}

.product-details {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.product-details h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.product-details p {
  margin-bottom: 5px;
  font-size: 16px;
}

.error-message {
  color: red;
}




/* Styles for the pop-up form */
/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  width: 600px;
  display: flex;
  justify-content: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

input[type='number'],
input[type='text'],
select {
  padding: 8px;
  border-radius: 5px;
  background-color:transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
}

input[type='number']:focus,
input[type='text']:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit'] {
  background-color: #007bff;
  color: white;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

button[type='button'] {
  background-color: #6c757d;
  color: white;
}

button[type='button']:hover {
  background-color: #5a6268;
} */