.tabs {
    display: flex;
    width:100vh;
    height:auto;
  }
  
  .tab-box{
   margin-left: 130px;
   margin-top: 50px;
  }
  
  .tabs button {
    background-color: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  
  .tabs button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .tabs button.active {
    background-color: #ccc;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    width:100vh;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255,255,255, .2);
  }

  .productf .form-group {
    margin-bottom: 20px;
  }
  
  .productf .form-group label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  .productf .form-group input[type="text"],
  select {
    width: 77%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="text"] {
    color:white;
    background-color: rgba(255,255,255,0.1);
  }
  

  
  /* Autocomplete dropdown */
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
  }
  
  .autocomplete-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-item:hover {
    background-color: #f4f4f4;
  }
  
 