.containerpage {
  display: flex;
}

.product-page {
  margin-top: 2%;
  margin-left: 6%;
  width: 100%;
  height: 90vh; /* Set a fixed height for the product list */
  overflow-y: auto; /* Add vertical scrollbar */
  padding-right: 20px; /* Adjust for scrollbar width */
}

.product-page h1 {
  font-weight: 600;
  color: #0865a0;
  margin-bottom: 4%;
}

.carddd {
  width: 90%;
  display: flex;
  border: 1px solid #0865a0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.carddd-img {
  flex: 1;
}

.carddd-img img {
  height: 190px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.carddd-info {
  flex: 2;
  padding: 20px;
  line-height: 25px;
  padding-left: 100px;
}

.carddd-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
  font-weight: 400;
}

.carddd-text {
  color: black;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}

.product-cards {
  color: white;
}

.psidebar {
  margin-top: 0px;
}
