
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #0865A0;
  }
  
  .Header h1{
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
  }
  
  .Logo {
    height: 50px;
  }
  
  .HeaderButtons {
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    width: 200px;
    align-items: center;
  }
  
  .HeaderButton {
    padding: 8px 16px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .HeaderButton:hover {
    text-decoration: underline;
  }
  