
.Header {
    display: flex;
    justify-content: space-;
    align-items: center;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255,255,255, .2);
    border: 2px solid rgba(255,255,255, .2);
  }
  
  .Header h1{
    font-size: 25px;
    font-weight: bolder;
    color: rgba(255,255,255, 0.7);
  }
  
  .Logo {
    height: 50px;
  }
  
  .HeaderButtons {
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    width: 200px;
    align-items: center;
  }
  
  .HeaderButton {
    padding: 8px 16px;
    border: none;
    background: transparent;
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
    border-radius: 10px;
  }
  
  .HeaderButton:hover {
    text-decoration: underline;
  }
  