
/*
.sidebar {
    width: 240px;
    display: block;
    color: rgba(255,255,255, 0.7);
    font-weight: 400;
    line-height: 5vh;
    margin-right: 20px;

  }
  */

  .nav-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-link.active {
    background-color: #007bff;
    color: white;
  }



   /* Sidebar.css */

.csidebar {
  flex:1;
  padding: 20px;
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 250px; /* Set the width of the sidebar */
  transition: transform 0.3s ease; /* Add smooth transition */
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255,255,255, .2);
  border: 2px solid rgba(255,255,255, .2); 
  width: 250px;
  
}

/* Hide the sidebar */
.csidebar.hide {
  transform: translateX(-100%);
}

.cul {
  line-height: 2rem;
}
.clll {
  padding: 5px;
  width:200px;
  color: white;
}


.clll:hover {
  box-shadow: 0 0 10px white;
  border-radius: 10px;


}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .csidebar {
    padding: 10px;
    width: 150px; /* Adjust the width for smaller screens */
    order: 2;
    width: 100%;
  }

  .csidebar h2 {
    margin-top: 0;
  }

  .csidebar ul {
    padding-left: 20px;
  }
}
