
  .nav-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-link.active {
    background-color: #007bff;
    color: white;
  }



.csidebar {
  
  flex:1;
  padding: 20px;
  height: 100vh; 
  width: 250px; 
  transition: transform 0.3s ease; 
  background: #f5f5f2;
  border: 2px solid grey;
  width: 250px;
  
}

/* Hide the sidebar */
.csidebar.hide {
  transform: translateX(-100%);
}

.cul {
  line-height: 2rem;
}
.clll {
  padding: 5px;
  width:200px;
  color: grey;
}


.clll:hover {
  box-shadow: 0 0 10px black;
  border-radius: 10px;


}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .csidebar {
    padding: 10px;
    width: 150px; /* Adjust the width for smaller screens */
    order: 2;
    width: 100%;
  }

  .csidebar h2 {
    margin-top: 0;
  }

  .csidebar ul {
    padding-left: 20px;
  }
}


.csidebar {
  width: 250px; /* Adjust sidebar width as needed */
}

.cul {
  list-style-type: none;
  padding: 0;
}

.clll {
  margin-bottom: 10px; /* Adjust margin between list items */
}

.csidebar a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding: 10px;
  color: #333;
}
/* 
.csidebar a:hover {
  background-color: #f0f0f0; /* Adjust hover background color as needed */
/* } */

.csidebar-icon {
  margin-right: 10px; /* Adjust margin between icon and text */
}
