/* .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
  border: 2px solid rgba(255, 255, 255, .2);
}

.HeaderTitle {
  font-size: 25px;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.7);
}

.Logo {
  height: 50px;
}

.HeaderButtons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.HeaderButton {
  padding: 8px 16px;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 10px;
}

.HeaderButton:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .Header {
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
  }

  .HeaderTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .HeaderButtons {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .HeaderTitle {
    font-size: 18px;
  }

  .Logo {
    height: 40px;
  }

  .HeaderButton {
    padding: 6px 12px;
    font-size: 14px;
  }
} */

/* Header.css */


.headerr {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(3, 2, 13) 0%, rgb(30, 30, 145) 45%, rgb(167, 186, 190) 100%);
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.left {
  display: flex;
  align-items: center;
  width:200px;
}

.left h1{
  margin-left: 10%;
  font-size: 30px;
}

.toggle-btn {
  color: white;
  width:40px;
  border: 2px solid rgba(255,255,255, .2);
  box-shadow: 0 0 10px rgba(255,255,255, .2);
  margin-bottom: 10px;

}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .headerr {
    padding: 10px 15px;
    text-align: center;
  }
}
