/* navbar.css */

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1a1b1c; /* Choose your desired background color */
    color: #fff; /* Text color */
  }
  
  .src {
    width: 50px; /* Adjust the width of the logo */
    height: 50px; /* Adjust the height of the logo */
    border-radius: 50%; /* Make the logo circular */
    border: 2px solid aqua;
  }
  .src:hover{
    width: 60px;
    height: 60px;
  }
  
  .HeaderButtons {
    display: flex;
    align-items: center;
  }
  
  .href {
    margin: 0 15px; /* Add some spacing between links */
    text-decoration: none;
    color: #fff; /* Link text color */
    font-weight: bold;
  }
  
  /* Style the dropdown select */
  #login {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #2e92cc; /* Choose your desired color */
    color: #fff; /* Text color */
    cursor: pointer;
  }
  
  /* Style the dropdown options */
  #login option {
    background-color: #a9cfe9; /* Choose your desired color */
    color: #fff; /* Text color */
    border: 2px solid black;
  }
  
  /* Hover effect for links */
  .href:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 600px) {
    .Header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .HeaderButtons {
      margin-top: 10px;
    }
  
    .href {
      margin: 0 0 10px 0;
    }
  }
  