.app-container {
  display: flex;
  height: 100%;
}

.hamburger-menu {
  cursor: pointer;
  padding: 10px;
  display: none;

}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1-open {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2-open {
  opacity: 0;
}

.bar3-open {
  transform: rotate(45deg) translate(-5px, -6px);
}

.sidebar {
  width: 40%;
  background-color: transparent;
  padding-top: 20px;
  height: 100vh;
  transition: 0.5s;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 15px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.sidebar a:hover {
  background-color: #555;
}

.menu-open .sidebar {
  width: 0;
}

@media (max-width: 1050px) {
  .sidebar {
    width: 0;
  }

  .menu-open .sidebar {
    width: 50%;
  }

  .hamburger-menu {
    display: block;
  }
  .sidebar a {
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
}
