.app-container {
    display: flex;
    height: 100vh;
  }

.sidebar {
    width: 260px;
    background-color: #fb8500;
    display: block;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .nav-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #ddd;
  }
  
  .nav-link.active {
    background-color: #007bff;
    color: white;
  }
  