
  .pcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .pcontainer .text {
    max-width: 600px;
    text-align: center;

  }

  .text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    color: #0865A0;
  }

  .text p {
    font-size: 1.2rem;
    color: #45739E;
    margin-bottom: 1.5rem;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .text .menu li {
    margin: 0 1rem;
  }


  .text .menu li a {
    color: #1C2D1F;
    text-decoration: none;
    font-size: 1.1rem;
  }


  .text .menu li a:hover {
    text-decoration: underline;
  }


  .text .image {
    max-width: 400px;
    width: 100%;
    height: auto;
  }